{
    padding: 200;
    margin: 220;
    font-family: 'poppins' , sans-serif;
}

.main{
    width: 400px;
    height: 400px;
    background-color: black;
    position: absolute;
    border: 10px solid red  ;
    border-radius: 20px;
}

body{
    background-color: white ;
    display: grid;
    height: 100vh;
    place-items: center;
}

.main input [type='text'] {
    width: 88%;
    position: relative;
    height: 800px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 400px;
    border: 500px solid black;
    display: flex;
    margin: auto;
    border-radius: 60px;
    color: rgb(15, 38, 107);
}
.btn input[type='button']{
    width: 90px;
    padding: 12px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 13px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.10s;
    background-color: brown;
    border-radius: 60px;
    color: white;
}
.btn input[type='button']:hover{
    background-color: crimson;
    color: darkred;
}
